@mixin lint {
    /* ESTILOS INLINE */
    *[style]{
        outline: 1px dotted red;
    }

    h2 ~ h1,
    h3 ~ h1,
    h4 ~ h1,
    h5 ~ h1,
    h6 ~ h1,
    h3 ~ h2,
    h4 ~ h2,
    h5 ~ h2,
    h6 ~ h2,
    h4 ~ h3,
    h5 ~ h3,
    h6 ~ h3,
    h5 ~ h4,
    h6 ~ h4,
    h6 ~ h5 {
        outline: 2px dotted red;
    }
    
    /* ENLACES SIN LINK O CON LINK MAL PUESTO */

    a:not([href]),
    a[href="#"],
    a[href=""],
    a[href*="javascript:void(0)"] {
        outline: 1px dotted gold;
    }

    /* IMAGENES NO ACCESIBLES */

    img:not([alt]) {
        outline: 1px dotted deeppink;
        filter:blur(100%);
    }

    /* EL DOC NO TIENE LANG */

    html:not([lang]),
    html[lang=""] {
        outline: 1px dotted red;
    }

    /* CHARSET NO EN UTF-8 */

    meta[charset]:not([charset="UTF-8"]) {
        outline: 1px dotted red;
    }

    /* UNACCESSIBLE VIEWPORT ATTRIBUTES */

    meta[name="viewport"][content*="user-scalable=no"],
    meta[name="viewport"][content*="maximum-scale"],
    meta[name="viewport"][content*="minimum-scale"] {
        outline: 1px dotted cyan;
    }

    /* FORMULARIOS */

    /* SIN ID */
    input:not([id]),
    select:not([id]),
    textarea:not([id]) {
        outline: 1px dotted cyan;
    }

    /* LABELS QUE NO APUNTAN A NADIE */
    label:not([for]) {
        outline: 1px dotted cyan;
    }

    /* SIN NAME */
    input:not([name]),
    select:not([name]),
    textarea:not([name]) {
        outline: 1px dotted lawngreen;
    }

    /* FORMULARIO SIN NAME O ID */
    form:not([name]):not([id]) {
        outline: 1px dotted lawngreen;
    }

    /* ENLACES Y BOTONES VACÍOS */

    button:empty,
    a:empty {
        outline: 1px dotted lawngreen;
    }

    /* ATRIBUTOS OBSOLETOS */

    script[type="text/javascript"],
    link[rel="stylesheet"][type="text/css"] {
        outline: 1px dotted lawngreen;
    }

}
