@import './utils/debug';

:root{
  --inlineStyles: #{$a11y-color};
  --headingsOrderIncorrect: #{$a11y-color};
  --linkRefInvalid: #{$a11y-color};
  --linkWithoutAriaLabel: #{$a11y-color};
  --altRequired: #{$a11y-color};
  --emptyActions: #{$a11y-color};
  --ariaHiddenFalseInsideAriaHiddenTrue: #{$a11y-color};
}

@mixin inlineStyles {
  *[style]{
    outline: 1px dotted var(--inlineStyles);
  }
}

@mixin headings {
  h2 ~ h1,
  h3 ~ h1,
  h4 ~ h1,
  h5 ~ h1,
  h6 ~ h1,
  h3 ~ h2:first-of-type,
  h4 ~ h2:first-of-type,
  h5 ~ h2:first-of-type,
  h6 ~ h2:first-of-type,
  h4 ~ h3:first-of-type,
  h5 ~ h3:first-of-type,
  h6 ~ h3:first-of-type,
  h5 ~ h4:first-of-type,
  h6 ~ h4:first-of-type,
  h6 ~ h5:first-of-type {
    outline: 2px dotted var(--headingsOrderIncorrect);
  }

  h1 ~ h1 {
    outline: 2px dotted var(--headingsOrderIncorrect);
  }
}

@mixin linksValids {

  a:not([href]),
  a[href="#"],
  a[href=""],
  a[href*="javascript:void(0)"] {
    outline: 1px dotted var(--linkRefInvalid);
  }
}

@mixin linkWithoutAriaLabel {
  a:not([aria-label]) {
    outline: 1px dotted var(--linkWithoutAriaLabel);
  }
}

@mixin altRequired {
  input[type="image"]:not([alt]),
  input[type="image"][alt=""],
  object:not([alt]),
  object[alt=""],
  img:not([alt]),
  img[alt=""] {
    outline: 1px dotted var(--altRequired);
    filter:blur(3px);
  }
}

@mixin emptyActions {
  button:empty,
  a:empty {
    outline: 2px dotted var(--emptyActions);
    &::after {
      content: '';
      display: block;
      position: absolute;
      min-width: 2px;
      min-height: 2px;
      border: 5px solid var(--emptyActions);
      border-radius: 10px;
      transform: rotate( 5deg);
      pointer-events: none;
    }
  }
}

@mixin ariaHiddenFalseInsideAriaHiddenTrue {
  [aria-hidden="true"] [aria-hidden="false"] {
    outline: 2px dotted var(--ariaHiddenFalseInsideAriaHiddenTrue);
  }
}

@if map-get($a11y, "inlineStyles") {
  @include showDebug("_a11y.scss","inlineStyles");
  @include inlineStyles;
}

@if map-get($a11y, "headings") {
  @include showDebug("_a11y.scss","headings");
  @include headings;
}

@if map-get($a11y, "linksValids") {
  @include showDebug("_a11y.scss","linksValids");
  @include linksValids;
}

@if map-get($a11y, "linkWithoutAriaLabel") {
  @include showDebug("_a11y.scss","linkWithoutAriaLabel");
  @include linkWithoutAriaLabel;
}

@if map-get($a11y, "altRequired") {
  @include showDebug("_a11y.scss","altRequired");
  @include altRequired;
}

@if map-get($a11y, "emptyActions") {
  @include showDebug("_a11y.scss","emptyActions");
  @include emptyActions;
}

@if map-get($a11y, "ariaHidden") {
  @include showDebug("_a11y.scss","ariaHidden");
  @include ariaHiddenFalseInsideAriaHiddenTrue;
}
