@import './debug';

@mixin inlineStyles {
  *[style]{
    outline: 1px dotted red;
  }
}

@mixin headings {
  h2 ~ h1,
  h3 ~ h1,
  h4 ~ h1,
  h5 ~ h1,
  h6 ~ h1,
  h3 ~ h2:first-of-type,
  h4 ~ h2:first-of-type,
  h5 ~ h2:first-of-type,
  h6 ~ h2:first-of-type,
  h4 ~ h3:first-of-type,
  h5 ~ h3:first-of-type,
  h6 ~ h3:first-of-type,
  h5 ~ h4:first-of-type,
  h6 ~ h4:first-of-type,
  h6 ~ h5:first-of-type {
    outline: 2px dotted blue;
  }
  
  h1 ~ h1 {
    outline: 2px dotted blue;
  }
}

@mixin linksValids {

  a:not([href]),
  a[href="#"],
  a[href=""],
  a[href*="javascript:void(0)"] {
    outline: 1px dotted gold;
  }

  a:not(aria-label) {
    outline: 1px dotted gold;
  }
}

@mixin altRequired {
  input[type="image"]:not([alt]),
  input[type="image"][alt=""],
  object:not([alt]),
  object[alt=""],
  img:not([alt]),
  img[alt=""] {
    outline: 1px dotted deeppink;
    filter:blur(100%);
  }
}

@mixin emptyActions {
  button:empty,
  a:empty {
    outline: 1px dotted lawngreen;
  }
}

@if map-get($a11y, "inlineStyles") {
  @include showDebug("_a11y.scss","inlineStyles");
  @include inlineStyles;
}

@if map-get($a11y, "headings") {
  @include showDebug("_a11y.scss","headings");
  @include headings;
}

@if map-get($a11y, "linksValids") {
  @include showDebug("_a11y.scss","linksValids");
  @include linksValids;
}

@if map-get($a11y, "altRequired") {
  @include showDebug("_a11y.scss","altRequired");
  @include altRequired;
}

@if map-get($a11y, "emptyActions") {
  @include showDebug("_a11y.scss","emptyActions");
  @include emptyActions;
}