@import './utils/debug';

:root {
  --elementWithoutId: #{$form-color};
  --labelWithoutFor: #{$form-color};
  --elementWithoutName: #{$form-color};
  --formWithoutNameOrId: #{$form-color};
  --buttonWithoutType: #{$form-color};
}

@mixin noId {
  input:not([id]),
  select:not([id]),
  textarea:not([id]) {
    outline: 1px dotted var(--elementWithoutId);
  }
}

@mixin labelFor {
  label:not([for]) {
    outline: 1px dotted var(--labelWithoutFor);
  }
}

@mixin noName {
  input:not([name]),
  select:not([name]),
  textarea:not([name]) {
      outline: 1px dotted var(--elementWithoutName);
  }
}

@mixin formNoNameOrNotId {
  form:not([name]):not([id]) {
    outline: 1px dotted var(--formWithoutNameOrId);
  }
}

@mixin buttonNoType {
  button:not([type]) {
    outline: 1px dotted var(--buttonWithoutType);
  }
}

@if map-get($form, "noId") {
  @include showDebug("_forms.scss","noId");
  @include noId;
}

@if map-get($form, "labelFor") {
  @include showDebug("_forms.scss","labelFor");
  @include labelFor;
}

@if map-get($form, "noName") {
  @include showDebug("_forms.scss","noName");
  @include noName;
}

@if map-get($form, "formNoNameOrNotId") {
  @include showDebug("_forms.scss","formNoNameOrNotId");
  @include formNoNameOrNotId;
}

@if map-get($form, "buttonNoType") {
  @include showDebug("_forms.scss","buttonNoType");
  @include buttonNoType;
}
