@import './utils/debug';

:root{
  --htmlNoLang: #{$html-color};
}

@mixin htmlLang {
  html:not([lang]),
  html[lang=""] {
    outline: 1px dotted var(--htmlNoLang);
  }
}

@if map-get($html, "htmlLang") {
  @include showDebug("_html.scss","htmlLang");
  @include htmlLang;
}