@import './utils/debug';

:root{
  --dlIncorrectFirstChild: #{$lists-color};
  --listIncorrectFirstChild: #{$lists-color};
  --tabIndexIncorrectValue: #{$lists-color};
}

@mixin dlChilds {
  dl :not(:is(dt, dd,script,template, div)):first-child {
    outline: solid 1px var(--dlIncorrectFirstChild);
  }
}

@mixin listChilds {
  ol :not(:is(li,script,template)):first-child,
  ul :not(:is(li,script,template)):first-child {
    outline: solid 1px var(--listIncorrectFirstChild);
  }
}

@mixin tabindex {
  [tabindex]:not([tabindex="-1"]):not([tabindex="0"]):not([tabindex="1"])  {
    outline: solid 1px var(--tabIndexIncorrectValue);
  }
}

@if map-get($lists, "dlChilds") {
  @include showDebug("_lists.scss","dlChilds");
  @include dlChilds;
}

@if map-get($lists, "listChilds") {
  @include showDebug("_lists.scss","listChilds");
  @include listChilds;
}

@if map-get($lists, "tabindex") {
  @include showDebug("_lists.scss","tabindex");
  @include tabindex;
}
