@import './utils/debug';

:root {
  --metaWithCharsetIncorrect: #{$meta-color};
  --viewportUserScalableWrong: #{$meta-color};
  --viewportMaximumScaleLessThan5: #{$meta-color};
  --metaXUACompatibleObsolete: #{$meta-color};
}

@mixin utf8 {
  meta[charset]:not([charset="UTF-8"]) {
    outline: 1px dotted var(--metaWithCharsetIncorrect);
    &::before {
      content: 'meta charset incorrect';
      display: inline-block;
      background: var(--metaWithCharsetIncorrect);
      position: fixed;
      top: 0;
      left: 0;
      padding: 0.3em;
      color: #fff;
      font-size: 1.2rem;
    }
  }
}

@mixin userScalable {
  meta[name="viewport"][content*="user-scalable=no"] {
    outline: 1px dotted var(--viewportUserScalableWrong);
    &::before {
      content: 'meta viewport:user-scalable wrong';
      display: inline-block;
      background: var(--viewportUserScalableWrong);
      position: fixed;
      top: 0;
      left: 0;
      padding: 0.3em;
      color: #fff;
      font-size: 1.2rem;
    }
  }
}

@mixin maximumScale {
  // https://web.dev/meta-viewport/
  meta[name="viewport"][content*="maximum-scale=1"],
  meta[name="viewport"][content*="maximum-scale=2"],
  meta[name="viewport"][content*="maximum-scale=3"],
  meta[name="viewport"][content*="maximum-scale=4"] {
    outline: 1px dotted var(--viewportMaximumScaleLessThan5);
    &::before {
      content: 'meta viewport:maximum scale less than 5';
      display: inline-block;
      background: var(--viewportMaximumScaleLessThan5);
      position: fixed;
      top: 0;
      left: 0;
      padding: 0.3em;
      color: #fff;
      font-size: 1.2rem;
    }
  }
}

@mixin xuaCompatible {
  meta[http-equiv="X-UA-Compatible"],
  meta[http-equiv][content="IE=edge"] {
    outline: solid 1px var(--metaXUACompatibleObsolete);
    &::before {
      content: 'meta X-UACOMPATIBLE obsolete';
      display: inline-block;
      background: var(--metaXUACompatibleObsolete);
      position: fixed;
      top: 0;
      left: 0;
      padding: 0.3em;
      color: #fff;
      font-size: 1.2rem;
    }
  }
}

@if map-get($meta, "utf8") {
  @include showDebug("_meta.scss","utf8");
  @include utf8;
}

@if map-get($meta, "userScalable") {
  @include showDebug("_meta.scss","userScalable");
  @include userScalable;
}

@if map-get($meta, "maximumScale") {
  @include showDebug("_meta.scss","maximumScale");
  @include maximumScale;
}

@if map-get($meta, "xuaCompatible") {
  @include showDebug("_meta.scss","xuaCompatible");
  @include xuaCompatible;
}
