@import './debug';

@mixin obsoleteTypes {
  script[type="text/javascript"],
  link[rel="stylesheet"][type="text/css"] {
    outline: 1px dotted lawngreen;
  }
}

@mixin scriptNoAsyncOrDefer {
  script:not([async]):not([defer]) {
    display:block;
    padding:1px;
    background-color:blue;
    margin-bottom: 3px;
  }
}

@if map-get($scripts, "obsoleteTypes") {
  @include showDebug("_script.scss","obsoleteTypes");
  @include obsoleteTypes;
}

@if map-get($scripts, "scriptNoAsyncOrDefer") {
  @include showDebug("_script.scss","scriptNoAsyncOrDefer");
  @include scriptNoAsyncOrDefer;
}