@import './utils/debug';

:root{
  --scriptObsoleteTypes: #{$scripts-color};
  --scriptNoAsyncOrDefer: #{$scripts-color};
}

@mixin obsoleteTypes {
  script[type="text/javascript"],
  link[rel="stylesheet"][type="text/css"] {
    outline: 1px dotted var(--scriptObsoleteTypes);
  }
}

@mixin scriptNoAsyncOrDefer {
  script:not([async]):not([defer]) {
    display:block;
    padding:1px;
    background-color: var(--scriptNoAsyncOrDefer);
    margin-bottom: 3px;
  }
}

@if map-get($scripts, "obsoleteTypes") {
  @include showDebug("_script.scss","obsoleteTypes");
  @include obsoleteTypes;
}

@if map-get($scripts, "scriptNoAsyncOrDefer") {
  @include showDebug("_script.scss","scriptNoAsyncOrDefer");
  @include scriptNoAsyncOrDefer;
}