@import './utils/debug';

:root{
  --scriptObsoleteTypes: #{$scripts-color};
  --scriptNoAsyncOrDefer: #{$scripts-color};
}

@mixin obsoleteTypes {
  script[type="text/javascript"],
  link[rel="stylesheet"][type="text/css"] {
    outline: 1px dotted var(--scriptObsoleteTypes);
    &::before {
      content: 'script obsolete types; text/css | text/javascript';
      display: inline-block;
      background: var(--scriptObsoleteTypes);
      position: fixed;
      top: 0;
      left: 0;
      padding: 0.3em;
      color: #fff;
      font-size: 1.2rem;
    }
  }
}

@mixin scriptNoAsyncOrDefer {
  script:not([async]):not([defer]) {
    display:block;
    padding:1px;
    background-color: var(--scriptNoAsyncOrDefer);
    margin-bottom: 3px;
    &::before {
      content: 'script without async / defer';
      display: inline-block;
      background: var(--scriptNoAsyncOrDefer);
      position: fixed;
      top: 0;
      left: 0;
      padding: 0.3em;
      color: #fff;
      font-size: 1.2rem;
    }
  }
}

@if map-get($scripts, "obsoleteTypes") {
  @include showDebug("_script.scss","obsoleteTypes");
  @include obsoleteTypes;
}

@if map-get($scripts, "scriptNoAsyncOrDefer") {
  @include showDebug("_script.scss","scriptNoAsyncOrDefer");
  @include scriptNoAsyncOrDefer;
}