$debug:     true!default;
$comments:  true!default;

$a11y-color:    #5a3699!default;
$form-color:    #0097A7!default;
$html-color:    #BCAAA4!default;
$lists-color:   #E64A19!default;
$meta-color:    #7B1FA2!default;
$scripts-color: #E91E63!default;

$a11y: () !default;
$a11y : map-merge(
  (
    "inlineStyles":         true,
    "headings":             true,
    "linksValids":          true,
    "linkWithoutAriaLabel": true,
    "altRequired":          true,
    "emptyActions":         true,
    "ariaHidden":           true,
  ),
  $a11y
);

$form: () !default;
$form : map-merge(
  (
    "noId" :              true,
    "labelFor":           true,
    "noName":             true,
    "formNoNameOrNotId":  true,
    "buttonNoType":       true
  ),
  $form
);

$html: () !default;
$html : map-merge(
  (
    "htmlLang" :  true
  ),
  $html
);

$lists: () !default;
$lists : map-merge(
  (
    "dlChilds" :  true,
    "listChilds": true,
    "tabindex":   true
  ),
  $lists
);

$meta: () !default;
$meta : map-merge(
  (
    "utf8" :          true,
    "userScalable":   true,
    "maximumScale":   true,
    "xuaCompatible":  true
  ),
  $meta
);

$scripts: () !default;
$scripts: map-merge(
  (
    "obsoleteTypes" :         true,
    "scriptNoAsyncOrDefer" :  true
  ),
  $scripts
);